adal
aiohttp
aiosignal
altair
arrow
asttokens
async-timeout
asyncio
attrs
backcall
bcrypt
binaryornot
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
commonmark
cookiecutter
cryptography
cycler
debugpy
decorator
entrypoints
et-xmlfile
executing
extra-streamlit-components
fonttools
frozenlist
future
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
ipywidgets
isodate
jedi
Jinja2
jinja2-time
jsonpickle
jsonschema
jupyter-client
jupyter-core
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
msal
msrest
msrestazure
multidict
nest-asyncio
numpy
oauthlib
openpyxl
packaging
pandas
parso
pickleshare
Pillow
playsound
poyo
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
PyJWT
Pympler
pyodbc
pyparsing
seaborn
semver
six
smmap
stack-data
streamlit
streamlit-option-menu
